<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">StreamEvents</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'events:event_list' %}">Tots els Events</a>
        </li>
        
        {% if user.is_authenticated %}
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'events:my_events' %}">Els meus Events</a>
        </li>
        
        <li class="nav-item me-3">
          <a class="nav-link" href="{% url 'events:event_create' %}">Crear Event</a>
        </li>
        {% endif %}
      </ul>
      
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'users:profile' %}">Perfil</a></li>
              <li><a class="dropdown-item" href="{% url 'events:my_events' %}">Els meus Events</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="{% url 'users:logout' %}">Tancar Sessió</a></li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item me-2">
            <a class="nav-link" href="{% url 'users:login' %}">Inicia Sessió</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">Registra't</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>